<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sparsh Shrestha</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.8.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Sparsh Shrestha</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/@sparshrestha111" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/sparshrestha96" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/sparsh_shrestha/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/sparsh-shrestha-131587184" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#certification" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Certification</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Sparsh Shrestha</h1>
      <p><span class="typed" data-typed-items="Data Analyst, Business Analyst, Computer Engineer, Web Developer, Student"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a Computer Engineering UnderGraduate who got interested in the world of Data Analytics and Machine Learning. So I joined Business Analytics in my Post Graduate degree.
            Though I am just starting to explore the professional world, I am aiming to be a master data analytics. I aim explore the world of Data Analytics and make an impact.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Computer Engineer &amp; Data Analyst</h3>
            <p class="fst-italic">
              I aim to be a Data Scientist to explore and predict the business world with the help of data and eventually establish my own enterprise.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>14 Dec 1996</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>College:</strong> <span>Cambrian College</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 705 988 4214</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Sudbury, ON, Canada</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Post Graduate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sparshshrestha96@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Languages:</strong> <span>English, Hindi, Nepali</span></li>
                </ul>
              </div>
            </div>
            <p>
              I completed my Bacholers Degree in Computer Science and Engineering from Anharya Institute of Technology, Bangalore, India. 
              Currectly, I am pursuing my Post Graduate Certificate in Business Analytics from Cambrian College, Sudbury, ON, Canada. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Power BI <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">R Programming <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Excel <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Sparsh Shrestha</h4>
              <p><em>Innovative and deadline-driven Data Analyst with 1+ years of experience designing and developing dashboards and websites from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Sudbury, ON, Canada</li>
                <li>(705) 988-4214</li>
                <li>sparshshrestha96@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <h4>Web Developer Inter</h4>
              <h5>2018 - 2018</h5>
              <p><em>EveryCrave Web Tech Pvt. Ltd., Bangalore, India</em></p>
              <p>I was a web developer working in software development of web application using technologies including HTML, CSS, JavaScript, Python and Django.</p>
            </div>
            <div class="resume-item">
              <h4>Assistant Manager</h4>
              <h5>2019 - 2021</h5>
              <p><em>J.M.C. Water Industries, Nepalgunj, Nepal</em></p>
              <p>I worked as assistant manager at J.M.C. Water Industries for 2 years and learned a lot about how a business works and how to run it.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Post Graduate in Business Analytics</h4>
              <h5>2022 - Present</h5>
              <p><em>Sudbury, ON, Canada</em></p>
              <ul>
                <li>I am currently enrolled as a Business Analytics(PG) student at Cambrian College.</li>
                <li>This where I am starting my journey to become a Data Scientist.</li>
                <li>I am working on different projects as a part of this course like Web Development, Dashboard Design, Infographics Design and Report Writing.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Bachalors of Engineering in Computer Science and Engineering</h4>
              <h5>2015 - 2019</h5>
              <p><em>Bangalore, Karnataka, India</em></p>
              <ul>
                <li>A a child, I was always facinated with computers. So, I explored all about computers at Acharya Institute of Technology and became a Computer Engineer.</li>
                <li>I learned a lot of technologies and how they work in the course.</li>
                <li>I understood everything about computers in this course from how a computer process a single click to how a messeage travels from one device to another with a single click.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-website">Website</li>
              <li data-filter=".filter-dashboard">Dashboard</li>
              <li data-filter=".filter-infographics">Infographics</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/bigmac.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/bigmac.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Big Mac Index"><i class="bx bx-plus"></i></a>
                <a href="/thebigmacindex" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-dashboard">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/oilandgas.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/oilandgas.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="U.S. Crude Oil and Natural Gas Proved Reserves, Year 2015"><i class="bx bx-plus"></i></a>
                <a href="/oilandgas" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-infographics">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/cigarette.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/cigarette.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cigarette Industry Around the World"><i class="bx bx-plus"></i></a>
                <a href="/cigarette" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/spacestation.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/spacestation.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Space Station Location"><i class="bx bx-plus"></i></a>
                <a href="/spacestation" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-dashboard">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/eletriccar.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/eletriccar.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Eletric Vehicle Worldwide"><i class="bx bx-plus"></i></a>
                <a href="/eletriccar" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-infographics">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/lowincome.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/lowincome.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Low Income among Disabled People"><i class="bx bx-plus"></i></a>
                <a href="/lowincome" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/sms.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/sms.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SMS"><i class="bx bx-plus"></i></a>
                <a href="/sms" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-dashboard">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/revenue.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/revenue.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Total Revenue"><i class="bx bx-plus"></i></a>
                <a href="/revenue" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-infographics">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/righttorepair.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/righttorepair.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Harley-Davidson Warranty Voiding Pratices"><i class="bx bx-plus"></i></a>
                <a href="/righttorepair" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/excel.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/excel.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Excel Weather Data"><i class="bx bx-plus"></i></a>
                <a href="/excel" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/basketball.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/basketball.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Michael Jordan Analysis"><i class="bx bx-plus"></i></a>
                <a href="/basketball" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-website">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/robot.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/robot.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Robot Battle"><i class="bx bx-plus"></i></a>
                <a href="/robotbattle" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Certification Section ======= -->
    <section id="certification" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Certification</h2>
          <p>I am a dedicated hard working person who like to keep learning new skills every chance I get. Through out my PG Business Analytics course I did as many certifications as I possible can.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-code"></i></div>
            <h4 class="title"><a href="/python">Python</a></h4>
            <p class="description">Python is a popular general-purpose programming language. It is used in machine learning, web development, data visualization, and many other fields.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-code-square"></i></div>
            <h4 class="title"><a href="/r">R Programming</a></h4>
            <p class="description">R is a widely used statistical programming language that’s beloved by users in academia and industry. R works well with data, making it a great language for anyone interested in data analysis, data visualization, and data science.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-filetype-sql"></i></div>
            <h4 class="title"><a href="/sql">SQL</a></h4>
            <p class="description">SQL is a database computer language designed for the retrieval and management of data in a relational database. SQL stands for Structured Query Language.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="/powerbi">Power BI</a></h4>
            <p class="description">Microsoft Power BI is a business intelligence platform that provides nontechnical business users with tools for aggregating, analyzing, visualizing and sharing data.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-file-earmark-spreadsheet"></i></div>
            <h4 class="title"><a href="/spreadsheet">Excel and Spreadsheet</a></h4>
            <p class="description">Microsoft Excel is a software program produced by Microsoft that allows users to organize, format and calculate data with formulas using a spreadsheet system.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-plus-lg"></i></div>
            <h4 class="title"><a href="/others">Others</a></h4>
            <p class="description">These are some of the other certifications I have done other then these 5 technologies.</p>
          </div>
        </div>

      </div>
    </section><!-- End Certification Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Me</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Gemmell Street, Sudbury, ON, Canada</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sparshshrestha96@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 705 988 4214</p>
              </div>

              <img src="static/assets/img/contact.jpg" style="border:0; width: 100%; height: 290px;">
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for('message') }}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="sent-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>